<div class="account-setup-footer">
    <div class="container">
        <div class="row">
	    <div class="col-xs-12">
	        <div class="footer">
                    <?php echo $this->getChildHtml('footerLinks') ?>
                    <?php echo $this->getChildHtml('footer_store_language') ?>
                    <div class="clear"></div>
                    <?php echo $this->getChildHtml('footer_copyright') ?>
		</div>
	    </div>
	</div>
    </div>
</div>