<div class="account-setup-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="header">
                    <div class='row' >
                        <div class="col-md-3 logo-area"> 
                            <div class="skip-links"> <span href="#header-account" class="skip-link skip-account"></span></div>
                            <div id="header-account" class="skip-content"></div>
                            <h1 class="logo"><strong><?php echo $this->getLogoAlt() ?></strong><a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a></h1>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>