<?php
/**
 * Cybage Marketplace Plugin
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * It is available on the World Wide Web at:
 * http://opensource.org/licenses/osl-3.0.php
 * If you are unable to access it on the World Wide Web, please send an email
 * To: Support_Magento@cybage.com.  We will send you a copy of the source file.
 *
 * @category   Marketplace Plugin
 * @package    Cybage_Marketplace
 * @copyright  Copyright (c) 2014 Cybage Software Pvt. Ltd., India
 *             http://www.cybage.com/pages/centers-of-excellence/ecommerce/ecommerce.aspx
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @author     Cybage Software Pvt. Ltd. <Support_Magento@cybage.com>
 */
$_helper = $this->helper('catalog/output');
?>
<?php $_product = $this->getProduct(); ?>
<?php if ($_product->getSellerId()): ?>
    <div class="seller-info">
    <div class="seller-company">
    <span><?php echo $this->__('By') ?></span>
    <?php $sellerId = $_product->getSellerId() ?>
    <?php
    //$sellerName = $this->getSellerName($sellerId);
    $sellerCompany = $this->getSellerCompany($sellerId);
    $sellerUrl = $this->getBaseUrl() . "marketplace/" . str_replace(' ', '-', $sellerCompany) . ".html";
    ?>
    <a href="<?php echo $sellerUrl; ?>" title="<?php echo $sellerCompany; ?>"><?php echo $sellerCompany; ?></a>
    </div>
    </div>
<?php endif; ?>