<?php
/**
 * Cybage Marketplace Plugin
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * It is available on the World Wide Web at:
 * http://opensource.org/licenses/osl-3.0.php
 * If you are unable to access it on the World Wide Web, please send an email
 * To: Support_Magento@cybage.com.  We will send you a copy of the source file.
 *
 * @category   Marketplace Plugin
 * @package    Cybage_Marketplace
 * @copyright  Copyright (c) 2014 Cybage Software Pvt. Ltd., India
 *             http://www.cybage.com/pages/centers-of-excellence/ecommerce/ecommerce.aspx
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @author     Cybage Software Pvt. Ltd. <Support_Magento@cybage.com>
 */
?>
<?php $seller = $this->getSellerData();?>
<?php if (!empty($seller)):?>
    <?php if(!empty($seller['company_banner'])):?>
        <?php $company_banner = $seller['company_banner'] ?>
    <?php endif; ?>
    <div class="seller-banner" style="background-image: url('<?php echo $company_banner?>');">
        <div class="seller-info">
            <div class="seller-name"><h1><?php echo $seller['company_name']?></h1></div>
            <div class="seller-description">
                <?php if ($seller['company_description']):?>
                    <p><?php echo $seller['company_description']?></p>
                <?php endif;?>
            </div>
        </div>
        <?php if (!empty($seller['company_logo'])):?>
            <div class="seller-logo">
                <img src="<?php echo $seller['company_logo'];?>" width ="195px" height="225px"/>
            </div>
        <?php endif;?>
    </div>
<?php endif; ?>