/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 08/09/2015, 02:51:11 م
    Author     : Nourallah
*/
/******general******************/
body{
    background-color: #cccccc;
}
a {color: #000;}
#back-top span, .label-product > span ,.label-product > span.sale {background: #ff7729;}
/******END general******************/


/*************HEADER************/
.logo-area p {margin-left: 72px; padding-left: 50px; }
.logo-area p strong {float: right;}
/*************END HEADER************/

/************PRODUCT PAGE***********************/
.product-view .product-shop {
    width: inherit !important;
}
.product-view .product-shop {
    width: 100%;
}
/************END PRODUCT PAGE***********************/


.main-container { padding:0px; }
.main-container .container { padding: 20px 15px; }
.main-container .main-content,
.main-container .container {background-color:  white;}
.widget-catalogsale-products .category-title h1, .home-id .category-title h1 {color:#22282f;}
.footer ul li a {color:#323a46;}
.header .form-search .input-text{border: 1px solid #dadada;width: 300px; height:  45px;}
.header .form-search button.button > span{
    height: 43px;
    -webkit-border-top-left-radius: 0px !important;
    -webkit-border-bottom-left-radius: 0px !important;
    -webkit-border-top-right-radius: 10px !important;
-webkit-border-bottom-right-radius: 10px !important;
-moz-border-radius-topright: 10px !important;
-moz-border-radius-bottomright: 10px !important;
border-top-right-radius: 10px !important;
border-bottom-right-radius: 10px !important;
border-top-left-radius: 0px !important;
border-bottom-left-radius: 0px !important;
}

.ui-multiselect{
    height: 43px;
    -webkit-border-top-left-radius: 10px !important;
-webkit-border-bottom-left-radius: 10px !important;
-moz-border-radius-topleft: 10px !important;
-moz-border-radius-bottomleft: 10px !important;
border-top-left-radius: 10px !important;
border-bottom-left-radius: 10px !important;}

.header .header-border{
     margin: 0 -10000px 17px;
}
.header .quick-acces a{color: #22282f !important ; }

.color-black{color:#000;}

.homeIndent .carousel-prev, .homeIndent .carousel-prev2, .homeIndent .carousel-prev3{
    background-color: #a8a8a8;
    -webkit-border-top-right-radius: 1000px !important;
-webkit-border-bottom-right-radius: 1000px !important;
-moz-border-radius-topright: 1000px !important;
-moz-border-radius-bottomright: 1000px !important;
border-top-right-radius: 1000px !important;
border-bottom-right-radius: 1000px !important;
height: 100px;

}
.carousel-prev.fa.fa-chevron-left, .carousel-prev2.fa.fa-chevron-left, .carousel-prev3.fa.fa-chevron-left{
 margin-left: -5px !important;
}
.carousel-next.fa.fa-chevron-right, .carousel-next2.fa.fa-chevron-right, .carousel-next3.fa.fa-chevron-right {

    margin-right: -5px;
}
.homeIndent .carousel-next, .homeIndent .carousel-next2, .homeIndent .carousel-next3{
        background-color: #a8a8a8;
    -webkit-border-top-left-radius: 1000px !important;
-webkit-border-bottom-left-radius: 1000px !important;
-moz-border-radius-topleft: 1000px !important;
-moz-border-radius-bottomleft: 1000px !important;
border-top-left-radius: 1000px !important;
border-bottom-left-radius: 1000px !important;
height: 100px;
margin-left: -21px !important;
}
.product-shop{ overflow-y: auto; }
.fa-chevron-right::before,.fa-chevron-left::before{display: block; margin-top: 30px;}
.pusher {
    margin-bottom: 131px;
}
.ads-area{background-color: #a8a8a8; }
.shop-by-department::after{
    content: "\f107";
    float: right;
    font-size: 15px;
    margin-left: 17px;
    color: #777;}

.header .quick-access {
    text-align: right;
    margin-left: inherit;
    margin-bottom: inherit;
}
.header .welcome-msg {
   margin: 10px 0 0 73px;
}
.home-carousel-control{top: 30%;}

.wrapper-hover:hover .ski{
     bottom: 0px;
    -webkit-transition: bottom .2s linear;
    transition: bottom .2s linear;
}
.product-shop { height: 200px; position: absolute; }
.wrapper-hover .ski {
    background: #FFF;
    background: rgba(242,246,247,.9);
    bottom: -200px;
    left: 0;
    right: 0;
    padding: 9px 10px;
    position: absolute;
    text-align: center;
    -webkit-transition: bottom .2s linear;
    transition: bottom .2s linear;
    z-index: 1;
}
.widget-catalogsale-products:hover .home-carousel-control{
    visibility: visible;
     -webkit-transition: visibility .2s linear;
    transition: visibility .2s linear;
}

.widget-catalogsale-products .home-carousel-control{
    visibility: hidden ;
     -webkit-transition: visibility .2s linear;
    transition: visibility .2s linear;
}

/*************menu************/
.grid-full li.parent:hover > .level-top{ left : 236px !important;}
li.dropdown .grid-full > li > .level-top {width : 850px !important;}
.menu-content-3 img {width : 100%;}
/*************END menu************/

/***********footer ********************/
.footer ul li { line-height: 30px;}
/***********END footer ********************/

.box-gray{ background-color: #ccc; width:240px;display: block;height: 240px; margin: auto 0px;}


@media screen and (max-width: 768px) {
    .pusher{margin-bottom: 20px;}
    
}
